*{
    padding: 0;
    margin: 0;
    text-align: center;
}

body{
    background: url(./bg.jpg) no-repeat;
    background-size: 100vw 100vh ;
}

.title{
    font-size: 40px;
    margin: 23vh 30px 0 30px;
    color: rgb(55, 144, 13);
    font-family: 'Rakkas', cursive;

}

.search_buttons{
    margin: 5px;
}

.tenor-button, .giphy-button{
    background-color: rgba(54, 144, 13, 0.568);
    margin: 20px;
    padding: 5px 20px;
    border: 1px solid rgb(82, 219, 19) ;
    border-radius: 6px;
}

.tenor-button a, .giphy-button a{
   color: rgb(46, 54, 43);
   text-decoration: none;
   font-family: 'Rakkas', cursive;
    font-size: 20px;
}

@media only screen  and (max-width: 450px) {
    body{
        background: url(./bg.jpg) no-repeat;
        background-size: 1000px 100vh ;
    }
}